#app_root {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

body {
    padding: 0;
    color: #d4d4d4;
    font-family: "Segoe WPC", "Segoe UI", sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 100%;
    scrollbar-color: rgba(121, 121, 121, 04)
}

textarea {
    color: #d4d4d4;
    background-color: rgb(30, 30, 30);
    width: 98%;

}

#chat_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
}

#chat_input_part {
    margin-top: auto;
    text-align: right;
    width: 95%;
}

#chat_input_area {
    height: 150px;
    width: 100%;
}

#chat_input_button {
    margin-left: auto;
    margin-right: 0px;
}

#chat-item {
    width: 100%;
    margin-bottom: 20px;
}

.chat-item-robot {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

}

.chat-item-user {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-flow: row-reverse;
}

.chat-item-user-name {
    margin-top: 10px;
    margin-bottom: 10px;
}
.chat-item-user-block {
    width: 10px;
}



.chat-item-user-avatar {
    border-radius: 50%;
}

.chat-item-content {
    background-color: rgb(30, 30, 30);
    border-radius: 3px;
    padding: 5px;
}