#app_root {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

body {
    padding: 0;
    color: #d4d4d4;
    font-family: "Segoe WPC", "Segoe UI", sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 100%;
    margin-right: 20px;
}

/* 整个滚动条的样式 */
::-webkit-scrollbar {
    width: 5px;
    /* 滚动条宽度 */
}

/* 滚动轨道的样式 */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    /* 轨道背景颜色 */
}

/* 滚动滑块的样式 */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    /* 滑块背景颜色 */
}

/* 滑块悬停状态 */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

/* 滚动条按钮（上下箭头） */
::-webkit-scrollbar-button {
    display: none;
    /* 隐藏默认箭头 */
}

.custom-scroll::-webkit-scrollbar {
    width: 1px;
    height: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

textarea {
    color: #d4d4d4;
    background-color: rgb(30, 30, 30);
    width: 98%;

}


#chat_container {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    /* 确保容器至少和视口一样高 */
}

#chat_items {
    flex: 1;
    /* 占用剩余空间 */
    overflow-y: auto;
    /* 如果内容很多，允许滚动 */

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
}

#chat_input_part {

    text-align: center;
    width: 95%;
}



#chat_input_area {
    height: 150px;
    width: 100%;
}

#chat_input_button {
    margin-left: auto;
    margin-right: 0px;
}

#chat-item {
    width: 100%;
    margin-bottom: 20px;
}

.chat-item-robot {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

}

.chat-item-user {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-flow: row-reverse;
}

.chat-item-user-name {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-item-user-block {
    width: 10px;
}



.chat-item-user-avatar {
    border-radius: 50%;
}

.chat-item-language-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
}

.chat-item-language-left, .chat-item-language-right {
    display: flex;
    flex-direction: row;
    align-items: top;
}

.chat-item-language-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.chat-item-language-name {
    font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
    width: 50px;
    color: rgb(208, 255, 177);
}

.chat-item-language-button {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.chat-item-reasoning-content {
    /*  左侧边框 */
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(30, 30, 30);
    border-left: 2px solid #b6b6b6;
    /*  颜色变浅 */
    opacity: 0.5;
}

.chat-item-content {
    background-color: rgb(30, 30, 30);
    border-radius: 3px;
    padding: 5px;
}

.chat-item-content-code {
    background-color: rgb(10, 10, 10);
    color: #d4d4d4;
}